* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 8%;
    background: linear-gradient(135deg, #002855, #001845);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EFEFEF;
    font-size: 30px;
    padding: 1em 1.5em;
}

#logo {
    font-weight: 700;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#todoBar {
    background-color: #EFEFEF;
    width: 30%;
    max-width: 450px;
    height: 100%;
    text-align: center;
    min-width: 300px;
    border-top: 2px solid #001233;
    border-right: 2px solid #001233;
    padding-top: 16px;
}

h2 {
    padding: 1rem 0;
    font-size: 50px;
    color: #001233;
    height: 10%;
    font-weight: 700;
}

#calendar {
    flex: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #001233;
    padding-top: 16px;
    background-color: #D6D6D6;
    padding-bottom: 3rem;
}

/* TODO LIST */

.row {
    display: flex;
    justify-content: center;
    margin: 0 1em 1em;
}

.row input {
    width: 60%;
    border: none;
    outline: none;
    padding: 0 1em;
    flex: 1;
    border-radius: 30px;
    margin-right: 1em;
    font-size: 20px;
    background-color: #D6D6D6;
}

.row input::placeholder {
    color: #0012338b;
}

.row button {
    border: none;
    outline: none;
    padding: 0.5em 1.5em;
    border-radius: 30px;
    font-size: 20px;
    background: #002855;
    color: #EFEFEF;
}

.row button:hover {
    cursor: pointer;
    background-color: #0012338b;
    transition: 0.3s;
}

#list-container li.checked {
    text-decoration: line-through;
    color: #5C677D
}

#list-container li.checked::before {
    content: url('images/check.png');
    position: absolute;
    left: 1em;
}

#list-container li {
    font-size: 24px;
    position: relative;
    padding: 0.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    overflow-wrap: anywhere;
    color: #002855;
    padding-left: 2em;
    /* border-bottom: 2px solid #002855 */
    /* border-radius: 30px; */
}

#list-container li::before {
    content: url('images/radio.png');
    position: absolute;
    left: 1em;
}

#list-container li:hover {
    cursor: pointer;
    background-color: #F9CBC7;
    transition: 0.3s;
}

#list-container li span {
    position: absolute;
    right: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
}

#list-container li span:hover {
    cursor: pointer;
    background-color: #f09e96;
    transition: 0.3s;
}

/* CALENDAR */

#calendar-app {
    width: 75%;
    margin: 0 auto;
    flex: 1;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px repeat(6, 1fr);
    height: 100%;
    text-align: left;
    gap: 5px;
}

.day {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: auto 0;
}

.number {
    font-size: 20px;
    padding: 0.5em;
    border: 2px solid #001233;
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #002855;
}

.number.active {
    background: linear-gradient(135deg, #002855, #001845);
}

.number.active:not(.today) {
    color: #EFEFEF;
}

.number.inactive {
    color: #f09e96;
}

.number:hover:not(.inactive, .active) {
    background-color: #F9CBC7;
    cursor: pointer;
    transition: background 0.25s;
}

#date-header {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 3em;
}

.fa {
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    line-height: 11px;
}

.fa:hover {
    background-color: #0012334b;
    transition: 0.3s;
    cursor: pointer;
}

.today {
    padding-left: calc(0.5em - 7px);
}

#today-date {
    background-color: #F9CBC7;
    border-radius: 50%;
    padding: 5px 11px;
}

@media (max-width: 1080px) {
    main {
        flex-direction: column-reverse;
    }

    #calendar {
        width: 100%;
        min-height: 80vh;
    }

    #todoBar {
        width: 100%;
        border: none;
        max-width: none;
        min-height: 30vh;
    }

    .todo-app {
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 3em;
    }

}

@media (max-width: 530px) {

    .number {
        height: 50px;
    }

    #calendar {
        min-height: 550px;
    }

    #calendar-app {
        width: 90%;
        height: 50%;
    }

    #days {
        grid-template-columns: repeat(7, calc(100% / 7));
        grid-template-rows: 50px repeat(6, 1fr);
        gap: 0;
    }

    .number {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20%;
    }

    #date-header {
        font-size: 5px;
    }

    #current-date {
        font-size: 40px;
    }

    .today {
        background-color: #F9CBC7;
    }
}